body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-image: url("site pics/backrounds/2.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.custom-navigation {
    list-style: none;
    padding: 20;
    text-align: left;
    margin: 30;
}

.custom-navigation li {
    display: inline;
    margin-right: 20px;
}

.custom-navigation a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    transition: color 0.3s ease-in-out;
}

.custom-navigation a:hover {
    text-decoration: underline;
    color: black;
}

div {
    text-align: right;
}

img.logo {
    width: 300px;
    height: 300px;
    filter: brightness(0) invert(1);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    color: #F5F5DC;
}

ol {
    list-style-type: none;
    padding: 10px;
    text-align: right;
    color: #F5F5DC;
    margin: 0;
    position: absolute;
    top: 350px;
    right: 200px;
}

ol li {
    margin: 10px;
}

ol ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-right-link {
    position: fixed;
    top:50px;
    right: 200px;
}

.top-right-link img.home {
    width: 250px; /* Adjust the width for the desired size */
    height: 250px; /* Adjust the height for the desired size */
}

@media only screen and (max-width: 200px) {
    header img.logo {
        width: 50px;
        margin-top: 10px;
    }

    .top-right-link {
        top: 20px;
        right: 20px;
    }
}




