body {
    margin: 10px;
    padding: 2px;
    font-family: 'Helvetica', sans-serif;
    background-image: url("site pics/backrounds/2.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    list-style-type: none;
    padding: 0px;
    background-color: #808080;
    border-radius: 0px;
}

.top-left li {
    display: inline;
    margin-right: 20px;
}

.top-left a {
    text-decoration: none;
    font-size: 1.7em;
    color: black;
    transition: color 0.3s ease-in-out;
}

        .page-navigation {
            list-style: none;
            padding: 5px;
            margin: 5;
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .page-navigation li {
            display: inline-block;
            margin-right: 20px;
        }

        .page-navigation a {
            text-decoration: none;
            font-size: 30px;
            color: #F5F5DC;
        }

        .page-navigation a:hover {
            text-decoration: underline;
            color: #808000;
        }

        .logo-container {
            text-align: center;
            margin-top: 30px;
        }

        .logo-container:hover .logo {
            filter: brightness(1) invert(0);
        }

        img.logo {
            width: 300px;
            height: 300px;
            filter: brightness(0) invert(1);
        }
		header img.logo {
			width: 300px;
			height: auto;
			filter: brightness(0);
			transition: filter 0.3s ease-in-out;
			margin-top: 30px;
		}

        img {
            max-width: 100%;
            height: auto;
        }

        .additional-image {
            position: absolute;
            bottom: 5px;
            left: 5px;
            max-width: 400px;
            height: auto;
        }

        h1 {
            color: #F5F5DC;
            text-align: center;
        }

        .gallery a {
            flex: 0 0 calc(33.33% - 20px);
            margin: 20px 10px;
            text-align: center;
            text-decoration: none;
            color: #808000;
            display: block;
        }
		.page-navigation {
			z-index: 1;
		}

		.additional-image {
			z-index: 0;
		}

/* Adjustments for screens up to 600px wide */
@media only screen and (max-width: 600px) {
    body .additional-image {
        bottom: 10px;
        left: 5px;
        max-width: 100%;
        height: auto;
    }

    body {
        margin: 0;
        padding: 0;
    }

    body .top-left a {
        font-size: 12px;
    }

    body header img.logo {
        width: 150px;
        margin-top: 20px;
    }

    body .page-navigation {
        top: 5px;
        padding: 5px;
        margin: 0;
    }

    body .gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        margin-top: 40px;
    }

    body .gallery img {
        max-width: 100%;
    }
}
